
$primary-color:black;
$main-width: 960px;
$text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
$box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

@mixin flexDir($flexD,$primary-color) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flexD;
    color: $primary-color;
    width: $main-width;
}

@mixin textShadow () {
    text-shadow: $text-shadow;
}

@mixin boxShadow () {
    box-shadow: $box-shadow;
}

@import 'style2';




