* {
    box-sizing: border-box;
}

.top {
    overflow: hidden;
    background-color: grey;
    width: 100%;
}

.naslov {
    text-align: center;
}

.top li {
    text-decoration: none;
    float: left;
    display: block;
    padding: 5px;
    width: 16%;
}

a {
    text-decoration: none;
    color: white;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.intro {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.style {
    margin: 3px;
    padding: 3px;
    min-width: 22%;
}

@media screen and (max-width:580px) {
    body {
        background-color: aqua;
    }
    .intro {
        flex-wrap: wrap;
    }
    .top li {
        width: 33%;
    }
}

@media screen and (max-width:320px) {
    .top li {
        float: none;
        width: 100%;
    }
}